@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,200;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-input-affix-wrapper {
    border-radius: 10px !important;
}

.login-form-button {
    border-radius: 10px !important;
}

#background {
    filter: blur(10px);
    height: 100vh;
}

.styleBackground {
    position: absolute;
    z-index: 0;
}