@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,500;0,600;0,700;1,200;1,500;1,600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.ant-input-affix-wrapper {
  border-radius: 10px !important;
}

.login-form-button {
  border-radius: 10px !important;
}

#background {
  filter: blur(10px);
}

.styleBackground {
  position: absolute;
  z-index: 0;
}

.MuiTabs-flexContainer {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

@media screen and (max-width: 450px) {
  .MuiTabs-flexContainer {
    display: flex;
    flex-direction: column;
    transition: all 5s ease-out;
  }
}

.MuiPaper-root {
height:30vh;
min-width:40vh
}